{
  "packages": {
    "yum": {
      "postgresql-devel": []
    }
  },
  "container_commands": {
    "migrate": {
      "command": "/opt/elasticbeanstalk/node-install/node-v0.10.26-linux-x64/bin/node ./scripts/migrate.js",
      "leader_only": true
    }
  },
  "option_settings": [{
    "option_name": "NODE_ENV",
    "value": "production"
  }, {
    "namespace": "aws:rds:dbinstance",
    "option_name": "DBEngine",
    "value": "postgres"
  }, {
    "namespace": "aws:elasticbeanstalk:container:nodejs",
    "option_name": "NodeVersion",
    "value": "0.10.26"
  }, {
    "namespace": "aws:elasticbeanstalk:container:nodejs",
    "option_name": "GzipCompression",
    "value": true
  }]
}
