<ng-form role="form">
  <div class="form-group">
    <label>Date</label>
    <input ng-model="receipt.date" datepicker-popup class="form-control">
  </div>

  <div class="form-group">
    <label>Total</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input ng-model="receipt.total" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label>Type</label>
    <input ng-model="receipt.type" class="form-control">
  </div>

  <div class="form-group">
    <label>Category</label>
    <input ng-model="receipt.category" class="form-control">
  </div>
</ng-form>
